

<!-- ========== star Section ========== -->
<section class="servSec  d-center ">

    <!-- serve titeal -->
   <section class="titel  ">
    <h2 class="headTitel">Services</h2>
    <div class="line line-A"></div>
    <div class="line-B line"></div>   
    <div class="line-C line" ></div>
    <div class="line-D line"></div> 
   </section>



    <!-- serv cards -->
<section class="servCard my-5 ">
<section class="container">
<div class="row ">
<section class="col-md-4 my-5">
<div class="card">
<img src="../../assets/imges/serv1.png" alt="serv1">

<div class="servCaption p-4">
    <h4>Lorem Ipsum</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
    
</div>

</div>
</section>

<section class="col-md-4 my-5">
    <div class="card">
    <img src="../../assets/imges/serv2.png" alt="serv2">
    
    <div class="servCaption p-4">
        <h4>Lorem Ipsum</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
        
    </div>
    
    </div>
    </section>

    <section class="col-md-4 my-5">
        <div class="card">
        <img src="../../assets/imges/serv3.png" alt="serv3" class="cardImg">
        
        <div class="servCaption p-4">
            <h4>Lorem Ipsum</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            
        </div>
        
        </div>
        </section>




<div class=" d-center  my-5">
    <button class="btnSec bg-m-color text-white">
        Help Me
    </button>
</div>


    </div>


</section>


</section>
  

</section>