
<!-- 
<header class="home d-center ">


<section class="homeContent  w-50  ">

<div class="roundSec  w-100 d-center  pb-5">

    <img src="../../assets/imges/homeA.png" alt="home bascat" class="m-3">  
    <h1 class="round-head d-center me-5 pe-5">
        <span>Round Rock<br></span>
    <span class="trushSpan" >Trush Hauling</span></h1>

    
</div>


<div class="inner  ps-5">
    <div class="expert d-center">Expert</div>
    <p class="lorem">
        <span class="upuer m-0 p-0">
         Lorem<br/></span>
         <span class="lower">
        Lorem lorem</span>
    
    </p>
    <p class="dummy" >
        Lorem Ipsum is simply dummy text of the printing and typesetting 
        industry. Lorem Ipsum has been the industry's
         standard dummy text ever 
        since the</p>
    <button class="btnSec bg-m-color text-white ">Help Me</button>
    
    
</div>



</section>

</header> -->









<!-- ========== Start Section ========== -->


<header class="home d-center ">


    <section class="homeContent container   ">
                   <!-- round rock sec -->
    <div class="roundSec  w-100 d-center  ">
      <img src="../../assets/imges/homeA.png" 
      alt="home bascat" class="m-3">  
        <h1 class="round-head d-center me-5 pe-5 ">
            <span>Round Rock</span>
        <span class="trushSpan" >Trush Hauling</span></h1>
    
        
    </div>
    
            <!-- inner section -->
    <div class="inner  ps-5">
        <div class="expert d-center">Expert</div>
        <p class="lorem">
            <span class="upuer m-0 p-0">
             Lorem</span>
             <span class="lower">
            Lorem lorem</span>
        
        </p>
        <p class="dummy" >
            Lorem Ipsum is simply dummy text of the printing and typesetting 
            industry. Lorem Ipsum has been the industry's
             standard dummy text ever 
            since the</p>
        <button class="btnSec bg-m-color text-white ">Help Me</button>
        
        
    </div>
    
    
    
    </section>
     
    </header>
    
<!-- ========== End Section ========== -->